mat-toolbar {
  --mat-toolbar-standard-height: 56px;
  --mat-toolbar-mobile-height: 56px;
}
mat-sidenav {
  --mat-sidenav-container-width: 240px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;

  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}
