<div class="sidebar-container" [class.is-mobile]="isMobile()">
    <mat-toolbar>
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>Proteus</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="56">
            <mat-nav-list>
                @for (nav of fillerNav; track nav) {
                    <a mat-list-item>{{nav}}</a>
                }
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
