.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title {
    margin-left: 8px;
}

.sidenav-container {
    flex: 1;

    .content-container {
        margin: 0 auto;
        width: 80%;
    }
}

.is-mobile {
    .sidenav-container {
        flex: 1 0 auto;
    }
}
