<div class="header">
  <h2>Organisations</h2>
  <button mat-raised-button (click)="openCreateOrganisationDialog()">Create</button>
</div>

<div class="table-container">
  <table mat-table [dataSource]="organisations()" class="mat-elevation-z8">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let organisation">{{ organisation.code }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let organisation">{{ organisation.city }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let organisation">{{ organisation.name }}</td>
    </ng-container>

    <ng-container matColumnDef="omCode">
      <th mat-header-cell *matHeaderCellDef>OM Code</th>
      <td mat-cell *matCellDef="let organisation">{{ organisation.omCode }}</td>
    </ng-container>

    <ng-container matColumnDef="postCode">
      <th mat-header-cell *matHeaderCellDef>Post Code</th>
      <td mat-cell *matCellDef="let organisation">{{ organisation.postCode }}</td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef>Street</th>
      <td mat-cell *matCellDef="let organisation">{{ organisation.street }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let organisation">
        <mat-icon (click)="$event.stopPropagation()" [routerLink]="[`/admin/organisations/${organisation.id}`]">visibility</mat-icon>
        <mat-icon (click)="delete(organisation); $event.stopPropagation()">delete</mat-icon>
        <mat-icon (click)="$event.stopPropagation()" [routerLink]="[`/admin/organisations/${organisation.id}`]">visibility</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openEditOrganisationDialog(row)"></tr>
  </table>
</div>
