<mat-card appearance="raised">
  <mat-card-header>
    <mat-card-title>
      <h2>Profile</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="details">
      <h3>Details</h3>
      <div class="content">
        <p>Code: {{ user()?.code }}</p>
        <p>Email: {{ user()?.email }}</p>
        <p>Role: {{ user()?.role }}</p>
      </div>
    </div>

    <div class="organisation">
      <h3>Organisation</h3>
      <div class="content">
        <p>Code: {{ organisation()?.code }}</p>
        <p>Name: {{ organisation()?.name }}</p>
        <p>City: {{ organisation()?.city }}</p>
        <p>OM Code: {{ organisation()?.omCode }}</p>
        <p>Post Code: {{ organisation()?.postCode }}</p>
        <p>Street: {{ organisation()?.street }}</p>
      </div>
    </div>

    <div class="curriculum">
      <h3>Curriculum</h3>
      <div class="content">
        <p>Code: {{ curriculum()?.code }}</p>
        <p>Name: {{ curriculum()?.name }}</p>
        <p>Terms: {{ curriculum()?.terms }}</p>
        <p>Required Credit: {{ curriculum()?.requiredCredit }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
