<h2>Proteus</h2>

<p>This application is designed to manage and organize educational structures within institutions. It supports the following core features:</p>

<h4>Organisation Management</h4>
<p>
  Create and manage organisations (e.g., schools, departments). Each organisation can be linked to one or more curriculums to define its educational
  offerings.
</p>

<h4>Curriculum Management</h4>
<p>
  Define curriculums that represent structured learning paths. Curriculums can be associated with multiple subjects and linked to one or more
  organisations.
</p>

<h4>Subject Management</h4>
<p>Manage individual subjects that belong to curriculums. Subjects define the specific units or courses within a curriculum.</p>

<h4>Relationship Linking</h4>

<p>Link curriculums to organisations<br />Link subjects to curriculums</p>

@if (user()) {
  <hr />

  <h2>Quick links</h2>
  <mat-nav-list>
    <a mat-list-item routerLink="/admin/organisations">Organisations</a>
    <a mat-list-item routerLink="/admin/curriculums">Curriculums</a>
    <a mat-list-item routerLink="/admin/subjects">Subjects</a>
  </mat-nav-list>
}
