.header {
  display: flex;
  justify-content: space-between;
}

.table-container {
  margin-top: 16px;
  overflow-x: scroll;
}

.mat-column-actions {
  text-align: center;

  .mat-icon {
    cursor: pointer;
  }
}
