<div class="header">
  <h2>Curriculum</h2>
  <button mat-raised-button (click)="openCreateCurriculumDialog()">Create</button>
</div>

<div class="table-container">
  <table mat-table [dataSource]="curriculums()" class="mat-elevation-z8">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let curriculum">{{ curriculum.code }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let curriculum">{{ curriculum.name }}</td>
    </ng-container>

    <ng-container matColumnDef="terms">
      <th mat-header-cell *matHeaderCellDef>Terms</th>
      <td mat-cell *matCellDef="let curriculum">{{ curriculum.terms }}</td>
    </ng-container>

    <ng-container matColumnDef="requiredCredit">
      <th mat-header-cell *matHeaderCellDef>Required credit</th>
      <td mat-cell *matCellDef="let curriculum">{{ curriculum.requiredCredit }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let curriculum">
        <mat-icon (click)="$event.stopPropagation()" [routerLink]="[`/admin/curriculums/${curriculum.id}`]">visibility</mat-icon>
        <mat-icon (click)="delete(curriculum); $event.stopPropagation()">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openEditCurriculumDialog(row)"></tr>
  </table>
</div>
